@charset "UTF-8";



/* @FONT FACE (enable the use of 'custom fonts' inside your document) */

/* 
  You can use 'fontsquirrel' (https://www.fontsquirrel.com) 
  or 'transfonter' (https://transfonter.org)
  to generate your own font for the web from .ttf or .oft files 
*/

@font-face {
    font-family: SuisseEcalIntl;
    src: url('../fonts/suisseEcalIntl.otf');
    font-style: normal;
    font-display: block;
}

@font-face {
  font-family: SuisseEcalIntlitalic;
  src: url('../fonts/SuisseEcalIntl-MediumItalic.otf');
  font-style: italic;
  font-display: block;
}




/* VARIABLES */

:root {
  /* Color values */
  --color-background: #000000;
  --color-text: color:#6D6E71;
  /* --color-text-link: rgba(0,0,255,0.8);
  --color-text-link-hover: rgba(0,0,255,0.4); */
  /* Font values */
  --font-family: 'SuisseEcalIntl';
  --font-size: calc(0.625rem + 0.92vw); 
}

/* GENERAL STYLES */
*{
  margin: 0;
  padding: 0;
}

html {
  font: var(--font-size) var(--font-family);
  background-color: var(--color-background);
  font-family: 'SuisseEcalIntl';
}

body {
  background-color: var(--color-background);
  font: var(--font-size) var(--font-family);
  color:#FFFF01;
  height:auto;
  overflow-y:auto;
 
}

a {
  color: var(--color-text-link);
  /* text-decoration: underline; */
}

a:hover {
  color: var(--color-text-link-hover);
  /* text-decoration: underline; */
  font-family: 'SuisseEcalIntlitalic';
  font-style: italic;
}

h2{
  margin-top: 3vw;
  margin-bottom: 2vw;
  font-size: calc(0.5rem + 2.45vw);
  color:#6D6E71;
  line-height: 1.26;
  font-weight: 300;
}



.footnote-ref{
  color: #FE0000;
  font-weight: 600;
}

.footnote-ref:hover{
  color: #FE0000;
  font-weight: 600;
}
.footnote-back{
  color:#FE0000;
  font-weight: 600;
}

.footnote-back:hover{
  color:#FE0000;
  font-weight: 600;
}

h4, h5, h6{
  /* h4-h5-h6 style */
}

p{
  margin-top: 1vw;
  margin-bottom: 1vw;
}
a{
  text-decoration:none;
}
ul{
  font-size: calc(0.5rem + 2.45vw);
  color:#6D6E71;
  line-height: 1.26;
  list-style-type: none;
  margin-top: 1vw;
  margin-bottom: 1vw;
}
ol{
  font-size: calc(0.625rem + 0.92vw);
  color:#998755;;
  line-height: 1.26;
  list-style-type: none;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

.title_top{
  margin-top: 0;
  margin-bottom: 0;
  width: 73%;
  font-size: calc(0.5rem + 2.45vw);
  color:#6D6E71;
  line-height: 1.26;
}

nav{
  margin-top: 0;
  margin-bottom: 0;
  margin-top: 3.2vw;
}

blockquote{
  /* blockquote element style */
}

hr{
  /* horizontal rule style */
}
.fixed{
  position: fixed;
  margin-top: 0;
  margin-bottom: 0;
  top: 3.2vw;
  right: 6%;
  font-size: calc(0.5rem + 2.45vw);
  color:#6D6E71;
  line-height: 1.26;
}
.navgroup{
  position: relative;
}

/* PAGE STYLES */

/* page structure */

.page-wrapper {
  /* the element that 'wraps' everything */
  /* padding: var(--margin); */
  margin-top: 3.2vw;
  margin-left: 6%;
  margin-right: 6%;
  margin-bottom: 3.2vw;
 
}


.Abstract{color:#FF51E9;}
.Introduction{color: #750CFF;}
.chapter-1{color: #4EEBA2;}
.chapter-2{color: #FE0000;}
.chapter-3{color: #998755;}
.chapter-11{color: #184AFF;}
.chapter-22{color: #018F33;}
.chapter-33{color: #FF51E9;}
.Conclusion{color: #750CFF;}
.Bibliography{color: #4EEBA2;}

.Abstract:hover{color:#FF51E9;}
.Introduction:hover{color: #750CFF;}
.chapter-1:hover{color: #4EEBA2;}
.chapter-2:hover{color: #FE0000;}
.chapter-3:hover{color: #998755;}
.chapter-11:hover{color: #184AFF;}
.chapter-22:hover{color: #018F33;}
.chapter-33:hover{color: #FF51E9;}
.Conclusion:hover{color: #750CFF;}
.Bibliography:hover{color: #4EEBA2;}
 


/* content */

strong{
  
  font-weight: 300;
}

.figure01{
  margin-top: 2vw;
  width: 30vw;
  font-size: 1.5vw;
  color: #018F33;
}

.figure02{
  margin-top: 1vw;
  width: 50vw;
  font-size: 1.5vw;
  color: #4EEBA2;
}

.figure03{
  margin-top: 1vw;
  width: 50vw;
  font-size: 1.5vw;
  color: #FF51E9;
}

.figure04{
  margin-top: 2vw;
  width: 50vw;
  font-size: 1.5vw;
  color: #750CFF;
}

summary{
  
}

#neonsigngrey{
  margin-top: 3.1vw;
  width: 100%;
}

.imagest{
  color: #184AFF;
}

.imagesa{
  color: #FF51E9;
}



/* UTILITY CLASSES */

/* hide desktop mobile etc */

.desktop-only {
  display: block;
}

.mobile-only {
  display: none;
}


.title_lightgrey{
  color: #D9D9D9;
}

.lightmode{
  color:#D9D9D9;
}
.lightmode:hover{
  color: #D9D9D9;
}


/* WEBSITE MEDIA QUERIES */

/* styles for 'mobile', screen sizes up to 779px, should covers 'mobile' and 'tablet' */
/* style this one first and then use the subsequent ones in a cascading way (from general to specific) */

@media (max-width: 779px) {

  /* your 'mobile' overriding css properties here */



  /* utility classes, mobile */

  .desktop-only{
    display:none;
  }

  .mobile-only{
    display:block;
  }

}



/* use this query to apply style changes to smaller smartphones sizes (like an iPhone 5S or SE 2016), max size of 339px */

@media (max-width: 339px) {

  /* your overriding css properties here */

}



/* use this query to apply style changes for 'mobile' screen sizes that are flipped in 'landscape' mode */

@media (max-width: 779px) and (orientation: landscape) {

   /* your overriding css properties here */

}



/* use this query to apply style for 'small' desktop screens */

@media (min-width: 780px) and (max-width: 992px) {

  /* your overriding css properties here */

}


